HOST_NAME=your-host-name
PORT=8080
KRATOS_API_URL=http://localhost:4433
KRATOS_UI_URL=http://localhost:3000/login
APP_URL=http://localhost:8080
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

PROXMOX_API_URL=https://192.168.1.100:8006/api2/json
PROXMOX_USERNAME=user@pam
PROXMOX_PASSWORD=secret
PROXMOX_API_TOKEN_ID=
PROXMOX_API_TOKEN_SECRET=
PROXMOX_INSECURE_SKIP_VERIFY=true