*.env
*proxmox.auto.tfvars
*config.yaml
*settings.local.json
.claude/
*kratos.yaml
terraform/vms/*
cert/*
proxmox-console.exe
scripts/plink.exe
scripts/deploy-remote.ps1
scripts/deploy-config.yaml
scripts/deploy-README.md
