input[type=range]{-webkit-appearance:none;background:transparent;cursor:pointer;width:100%}
input[type=range]::-webkit-slider-runnable-track{height:3px;background:#1e1e1e;border-radius:2px}
input[type=range]::-webkit-slider-thumb{-webkit-appearance:none;width:14px;height:14px;border-radius:50%;background:#fff;margin-top:-5.5px}
input[type=range]::-moz-range-track{height:3px;background:#1e1e1e;border-radius:2px;border:none}
input[type=range]::-moz-range-thumb{width:14px;height:14px;border-radius:50%;background:#fff;border:none}
